#layoutBox {
  // 头部logo
  .header {
    width: 100%;
    height: 150px;
    // background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 15%;
      height: 40%;
    }
    span {
      margin-top: 50rpx;
      color: #CFBDDA;
      margin-left: 15px;
      font-size: 15px;
    }
  }
  // 英文描述
  .engDes {
    width: 100%;
    display: flex;
    justify-content: center;
    
    img {
      width: 85%;
      text-align: center;
      margin: 0 auto;
    }
  }
  // 登录面板
  .loginBox {
    width: 80%;
    height: 180px;
    background-color: #F7F5CA;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 40px;
    .logoImg {
      img {
        width: 90px;
        margin-left: 20px;
        margin-top: 20px;
      }
    }
    .input1 {
      width: 70%;
      height: 40px;
      margin: 0 auto;
      background-color: #fff;
      margin-top: 20px;
      border-radius: 20px;
      input {
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        font-size: 10px;
        padding: 0 20px;
      }
    }
    .input2 {
      width: 35%;
      height: 40px;
      margin-left: 180px;
      background-color: #fff;
      margin-top: 20px;
      border-radius: 20px;
      input {
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        font-size: 10px;
        text-align: center;
        padding: 0 5px;
      }
    }
  }
  // 思考
  .footerImg {
    img {
      width: 75%;
      margin-left: 50%;
      transform: translateX(-50%);
      margin-top: 70px;
    }
  }
}