#layoutBox {
  position: relative;
}
#layoutBox .header {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  margin-left: 8%;
}
#layoutBox .header img {
  width: 15%;
  height: 40%;
}
#layoutBox .header span {
  margin-top: 50rpx;
  margin-left: 15px;
  font-size: 20px;
  font-weight: bold;
}
#layoutBox .nav {
  width: 100%;
  padding: 0 30px;
  margin-top: -20px;
}
#layoutBox .nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
#layoutBox .nav ul li {
  font-size: 15px;
  font-weight: bold;
}
#layoutBox .engDes {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#layoutBox .engDes img {
  width: 85%;
  text-align: center;
  margin: 0 auto;
}
#layoutBox .loginBox {
  width: 80%;
  height: 180px;
  background-color: #F7F5CA;
  border-radius: 10px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 10%;
}
#layoutBox .loginBox .clear {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 15px;
}
#layoutBox .loginBox .logoImg img {
  width: 90px;
  margin-left: 20px;
  margin-top: 20px;
}
#layoutBox .loginBox .input1 {
  width: 70%;
  height: 40px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 20px;
}
#layoutBox .loginBox .input1 input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  font-size: 10px;
  padding: 0 20px;
}
#layoutBox .loginBox .input2 {
  width: 35%;
  height: 40px;
  margin-left: 180px;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 20px;
}
#layoutBox .loginBox .input2 input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  font-size: 10px;
  text-align: center;
  padding: 0 5px;
}
#layoutBox .footerBox {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
}
#layoutBox .footerBox img {
  width: 100%;
  height: 100%;
}
#layoutBox .footerImg img {
  width: 75%;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 70px;
}
