<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>home page</title>
	<link rel="stylesheet" href="../../js/modules/element-ui/css/index.css">
	<link rel="stylesheet" href="../../css/common.css">
	<link rel="stylesheet" href="../../css/main.css">
</head>
<body>
	<div id="app">
			<!-- header Background bar -->
	<div class="headerBgc"></div>
	<div id="layoutBox">
		<!-- Set the location of the logo and search box in the header -->
		<div class="headerBox">
			<img src="../../images/pcimg/logo.png" alt="This is logo">
			<div class="inputBox">
				<img src="../../images/pcimg/search.png" alt="This is Search icon">
				<input type="text" placeholder="Search task……">
			</div>
				
		</div>
		<!-- Controls the header -->
		<div class="title">
			<div class="content">Calendar</div>
			 <div>
				<!--<div id="time" class="time">25:0</div>-->
			</div> 
		</div>
		<!-- The content part -->
		<!--  Four function ICONS and names that can be clicked to jump to the page later -->
		<div class="contentBox">
			<div class="contentLeft">
				<div class="home" style="margin-left: -12px;">
					<img style="width: 25px;" src="../../images/pcimg/home.png" alt="This home icon">
					<span>Home</span>
				</div>
				<div class="home" id="toPitch">
					<img style="width: 18px;" src="../../images/pcimg/Exclamation point.png" alt="This is Exclamation point icon">
					<span>Due soon</span>
				</div>
				<div class="home" id="prototype">
					<img style="width: 25px;" src="../../images/pcimg/complete.png" alt="This complete icon">
					<span>Finished</span>
				</div>
				<div @click="showMusicModal" class="home" id="prototype" style="margin-left: -12px;">
					<img style="width: 33px;" src="../../images/pcimg/yy.png" alt="This music player icon">
					<span style="margin-top: -2px;">Music</span>
				</div>
			</div>
			<!--  The user can edit the task name, due time -->
			<div class="contentRight">
				<div class="tabBox">
					<div class="title">Web design assignments</div>
					<div class="itemBox">
						<div class="item">
							<div><img class="showModal" src="../../images/pcimg/edit .png" alt="" /></div>
							<div class="titleNick">Java Quiz</div>
							<div class="des">Created on March 1,2022</div>
							<div class="timeBox">
								<p>Due date:</p>
								<p>18/03/2022</p>
							</div>
						</div>

						<div class="item" style="background:#FBE3CE">
							<div><img class="showModal" src="../../images/pcimg/edit .png" alt=""></div>
							<div id="addTask" class="titleNick">Web app pitch</div>
							<div class="des">Created on March 1,2022</div>
							<div class="timeBox">
								<p>Due date:</p>
								<p>15/04/2022</p>
							</div>
						</div>

						<div class="item" style="background:#F8CCCF">
							<div><img class="showModal" src="../../images/pcimg/edit .png" alt=""></div>
							<div  class="titleNick">Web app prototype</div>
							<div class="des">Created on March 1,2022</div>
							<div class="timeBox">
								<p>Due date:</p>
								<p>27/05/2022</p>
							</div>
						</div>
					</div>
                    <!-- Create a new project input box -->
					<div class="tabInput">
						<input type="text" placeholder="Create a group">
					</div>

					<div  class="addTask">
						<img src="../../images/pcimg/add.png" alt="">
						<span>A new task</span>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Edit for the task, displays the modal box for the edit task -->
	<div id="showModal">
		<div class="modalBox">
			<div class="item1">
				<span>Name:</span>
				<input type="text" placeholder="Enter the of the new task">
			</div>
			<div class="item2">
				<span style="margin-right: 0px;">Theme color:</span>
				<div class="colors">
					<div class="color1"></div>
					<div class="color2"></div>
					<div class="color3"></div>
					<div class="color4"></div>
					<div class="color5"></div>
					<div class="color6"></div>
					<div class="color7"></div>
					<div class="color8"></div>
				</div>
			</div>
			<div class="item3">
				<span>Due date:</span>
				<input type="text" placeholder="Input due date">
			</div>
		</div>
		<div class="clear">X</div>
	</div>
	<!-- Mask layer music control -->
	<div class="musicModal" v-if="isMusicTrue">
			<div class="musicBox">
			<audio id="audio" src="../../static/audio.mp3" autoplay>
				Your browser does not support the audio tag.
			</audio>
			<img src="../../images/pcimg/musicBgc.png" alt="">
			<!-- Type in the search box -->
			<div class="searchBox">
				<input type="text" placeholder="Search for songs artists">
				<span @click="hideMusicModal" id="clear">X</span>
			</div>
			<!-- The lyrics -->
			<div class="englishDes">
				<img src="../../images/pcimg/musicMsg.png" alt="">
			</div>
			<!-- Volume slider -->
			<div class="slider">
				<el-slider v-model="value2"></el-slider>
			</div>
		</div>
	</div>
	</div>

	<script src="../../js/modules/jquery.js"></script>
	<script src="../../js/modules/vue.min.js"></script>
	<script src="../../js/modules/element-ui/js/index.js"></script>
	<script src="./main.js"></script>
	<script>
	
		$(function() {
			$("body").parent().css("overflow-y","hidden");
			$("body").parent().css("overflow-X","hidden");
			// Displays the modal box for the edit task
			$('.showModal').click(function() {
				$('#showModal').css('display','block')
			})
			//Hide the mode box for the edit task
			$('.clear').click(function() {
				$('#showModal').css('display','none')
			})
		})
	</script>
	<script>

			var toPitch = document.getElementById('toPitch');
			var prototype = document.getElementById('prototype');
			var addTask = document.getElementById('addTask');
		
			toPitch.onclick = function() {
				window.location.href = './webAppPitch.html'
			}
			prototype.onclick = function() {
				window.location.href = './webAppPrototype.html'
			}
			addTask.onclick = function() {
				window.location.href = './pitchDetail.html'
			}
		</script>
</body>
</html>