<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
  <link rel="stylesheet" href="../js/modules/element-ui/css/index.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/mmain.css">
</head>
<body>
  <div id="laybox">
    <!-- header icon -->
    <div class="headerIcon">
      <div><img src="../images/mimg/login.png" alt=""></div>
      <div @click="toNz"><img src="../images/mimg/nz.png" alt=""></div>
      <!-- <div @click="showMusicModal"><img src="../images/mimg/音乐.png" alt=""></div> -->
    </div>
    <!-- searchBox -->
    <div class="searchBox">
      <input type="text" placeholder="Search task……">
      <img src="../images/pcimg/search.png" alt="">
    </div>
    <!-- contentBox -->
    <div class="contentBox">
      <p>Calendar</p>
      <div class="content">
        <h5>Web design assignments</h5>
        <div class="tabBox">
          <div class="item">
            <img @click="showModal" src="../images/pcimg/edit .png" alt="">
            <h4>Java Quiz</h4>
            <p class="des">Created March 1,2022</p>
            <div class="time">
              <span>Due date:</span><br>
              <span>18/03/2022</span>
            </div>
          </div>

          <div class="item" style="background-color: #FBE3CE;">
            <img @click="showModal" src="../images/pcimg/edit .png" alt="">
            <h4>Web app pitch</h4>
            <p class="des">Created March 1,2022</p>
            <div class="time" >
              <span>Due date:</span><br>
              <span>15/04/2022</span>
            </div>
          </div>
  
        </div>
        <!-- Mobile phone sliding line -->
        <div class="inline">
          <div class="inlineLeft"></div>
        </div>
        <!-- Create a new project input box -->
        <input type="text" placeholder="Create a group">
        <!-- add taskbox -->
        <div class="taskBox">
          <img src="../images/pcimg/add.png" alt="">
          <span>A new task</span>
        </div>
      </div>
      
      
    </div>
    <!-- footerICON -->
    <div class="footerIcon">
      <img src="../images/mimg/Home.png" alt="">
      <img @click="toFitch" src="../images/mimg/Due soon.png" alt="">
      <img @click="toPrototype" src="../images/mimg/Finished.png" alt="">
      <img @click="showMusicModal" src="../images/mimg/musicIcon.png" alt="">
    </div>

    <!-- 遮罩层 颜色控件模态框 -->
    <div v-if="isTrue" id="showModal">
      <div class="modalBox">
        <div class="list1">
          <span>Name:</span>
          <input type="text" placeholder="Enter the of the new task">
        </div>
        <div class="item2">
          <span style="margin-right: 0px;">Theme color:</span>
          <div class="colors">
            <div class="color1"></div>
            <div class="color2"></div>
            <div class="color3"></div>
            <div class="color4"></div>
            <div class="color5"></div>
            <div class="color6"></div>
            <div class="color7"></div>
            <div class="color8"></div>
          </div>
        </div>
        <div class="item3">
          <span>Due date:</span>
          <input type="text" placeholder="Input due date">
        </div>
      </div>
      <div @click="noneModal" class="clear">X</div>
    </div>
    <!-- Mask layer music control -->
    <div v-if="isMusicTrue" class="musicBox">
      <audio id="audio" src="../static/audio.mp3" autoplay>
        Your browser does not support the audio tag.
      </audio>
      <img id="bf" src="../images/mimg/musicBgc.png" alt="">
      <input type="text" placeholder="Search for songs or artists">
      <div class="slider">
        <el-slider v-model="value2"></el-slider>
      </div>
      <div @click="hideMusicModal" class="del"></div>
    </div>
  </div>

  <script src="../js/modules/vue.min.js"></script>
  <script src="../js/modules/element-ui/js/index.js"></script>
  
  <script>
    
    var v = new Vue({
      el:'#laybox',
      data:{ isTrue:false,value2:80,isMusicTrue:false},
      methods: {
        toFitch() {
          window.location.href = './pitchDetail.html'
        },
        toPrototype() {
          window.location.href = './prototypeDetail.html'
        },
        showModal() {
          
          this.isTrue = true;
        },
        noneModal() {
          this.isTrue = false;
        },
        toNz() {
          window.location.href ='./timeDetail.html'
        },
        hideMusicModal() {
          this.isMusicTrue = false;
        },
        showMusicModal() {
          this.isMusicTrue = true;
        }
      }
    })

  </script>
  
</body>
</html>